* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    background-color: aqua;
    text-align: center;
    color: #490d61;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #1d0000, #20205b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    width: 300px;
    height: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.dateDay, .monthYear {
    height: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dateDay {
    width: 58%;
}

.monthYear {
    width: 42%;
    background-color: #f4351e;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#date {
    font-size: 100px;
    line-height: 90px;
}

#month {
    margin-bottom: 10px;
}